
p
{
	font-size: 15px;
	margin: 10px;
}

p.small
{
	font-size: 12px;
}

.responsive
{
    width: 5%;
    min-width: 230px;
    height: auto;
    border: 10.7%
}

body 
{
    font-family: Arial;
    margin: 5px;
}

.container 
{
	position: relative;
    text-align: center;
    color: white
}

.centered 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1
{
	font-size: 30px;
}

h2
{
	font-size: 28px;
	color: #0081c6;
	text-align: center;
}

.navbox
{
	padding: 15px;
	width: 70%;
	background-color: #0081c6;
	color: white;
	margin: auto;
	text-align: center;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration: none;
}

a
{
	text-decoration: none;
}

.impactimg
{
    width: 100%;
}

.yotyimg
{
	width: 40%;
	height: auto;
	border-radius: 10px;
}

table
{
	width: 100%;
}