
body
{
   margin: 0;
   padding: 0;
}  

.tab
{
   position: fixed;
   top: 0px;
   left: 10px;
}

#box1
{
   height: 50vh;
   width: 100%;
   background-image: url(a.jpg);
   background-size: cover;
   display: table;
   background-attachment: fixed;
}

#box2
{
   height: 50vh;
   width: 100%;
   background-color: white;
   background-size: cover;
   display: table;
   background-attachment: fixed;
}

#box3
{
   height: 25vh;
   width: 100%;
   background-image: url(b.jpg);
   background-size: cover;
   display: table;
   background-attachment: fixed;
}

#box4
{
   height: 75vh;
   width: 100%;
   background-color:white;
   background-size: cover;
}

#box5
{
   height: 50vh;
   width: 100%;
   background-image: url(c.png);
   background-size: cover;
   display: table;
   background-attachment: fixed;
}

#box6
{
   height: 50vh;
   width: 100%;
   background-color:white;
   background-size: cover;
}
.center
{
    text-align: center;      
}
.centertest
{
    width: 75%;
    left: 50%;
    margin-left: 17.5%;
    margin-top: 250px;
    color: white;
}